body {
    font-family: "Poppins", sans-serif;
  }
  
  .main {
    padding-top: 10%;
    width: 100%;
    height: flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }
  
  .titleUser {
    margin-left: 15%;
  }
  
  .titleUser h1 {
    font-size: 40px;
  }
  
  .mainCard {
    width: 100%;
    height: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .userConfig {
    width: 25vw;
    height: 60vh;
    margin-left: 1%;
  }
  
  .button5 {
    margin-top: 4%;
    height: 7vh;
    width: 14vw;
    background: linear-gradient(101.05deg, #1F8EBE -5.36%, #440495 29.46%, #440495 56.03%, #B102CD 81.92%);
    border-radius: 16px;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
  }

  .button6 {
    margin-top: -10%;
    height: 7vh;
    width: 14vw;
    background: linear-gradient(101.05deg, #1F8EBE -5.36%, #440495 29.46%, #440495 56.03%, #B102CD 81.92%);
    border-radius: 16px;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
  }
  
  .centerImg {
    display: flex;
    justify-content: center;
  }
  
  .imgUser {
    width: 100%;
    height: 26vh;
    font-size: 30px;
    font-weight: bold;
    border-radius: 120px;
  }
  
  .reloader {
    margin-top: 14%;
    margin-bottom: 3%;
    border-radius: 60px;
    height: 300px;
  }
  
  .center {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #attImg {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid rgb(211, 210, 210);
  }
  
  #attImg:focus {
    outline: none;
  }
  
  .upload_img {
    display: inline-block;
    border: 3px solid #0099ff;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
  }
  
  .labelInput {
    padding: 16px 10px;
    width: 14vw;
    background-color: #000000;
    border-radius: 16px;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
    display: block;
    margin-top: 4%;
    margin-bottom: 6%;
  }
  
  .upload-btn {
    position: relative;
    display: inline-block;
  }
  
  .upload-btn input[type="file"] {
    font-size: 14px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .h2Small {
    font-size: 16px;
  }  
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .column1 {
    height: flex;
  }
  
  .h4Small {
    font-size: 18px;
  }
  
  .column2 {
    height: flex;
    padding-left: 4%;
    padding-right: 4%;
    border: solid 1px;
    border-top: transparent;
    border-bottom: transparent;
  }
  
  .column3 {
    height: flex;
  }
  
  .myProfile {
    margin-top: 6%;
    width: 30vw;
    height: flex;
    border: 1px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 40, 100, 0.25);
    border-radius: 40px;
  }
  
  .h2Profile {
    margin-top: 4%;
    margin-bottom: 8%;
    font-weight: 700;
    font-size: 28px;
  }
  .inputLoan {
    margin-top: 3%;
    width: 70%;
    border: 1px solid #b700ff;
    box-sizing: border-box;
    margin-bottom: 4%;
    text-align: center;
    font-size: 20px;
    border-radius: 16px;
    height: 8vh;
  }
  
  .row3 {
    display: flex;
    flex-direction: row;
  }
  
  .rowCenter {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .rowCenter2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .input {
    display: flex;
    flex-direction: row;
    border: 1px solid #0099ff;
    box-sizing: border-box;
    margin-bottom: 13%;
    text-align: center;
    border-radius: 7px;
    height: 5vh;
  }
  
  .myProfile .h2Small {
    font-size: 17px;
    font-weight: 600;
  }
  
  .myProfile .button5 {
    margin-top: 10%;
  }
  
  .subscription {
    margin-top: 6%;
    margin-right: 10%;
    width: 25vw;
    height: flex;
    border: 1px solid rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 40, 100, 0.25);
    border-radius: 40px;
    padding: 1%;
  }
  
  .h2Sub {
    margin-top: 4%;
  }
  
  .ul {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30%;
    margin-left: 6%;
  }
  
  .li {
    font-style: normal;
    font-weight: 275;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 10%;
  }
  
  .divCombo {
    margin-top: 10%;
  }
  
  .combo {
    width: 80%;
    height: 8vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #000000;
    border-radius: 16px;
    position: relative;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    z-index: 1;
  }
  
  .combo:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 16px;
    background-color: #0099FF;
    background-image: linear-gradient(315deg, #0099FF 0%, #0099FF 74%);
    box-shadow: transparent;
    transition: all 0.3s ease;
  }
  
  .combo:hover {
    color: rgb(255, 255, 255);
    background-color: #0099ff;
  }
  
  .combo:hover:after {
    right: 0;
    height: 100%;
  }
  
  .combo:active {
    top: 2px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .inputAdd {
    margin-top: 3%;
    width: 70%;
    border: 1px solid #0099ff;
    box-sizing: border-box;
    margin-bottom: 4%;
    text-align: center;
    border-radius: 7px;
    height: 5vh;
  }
  
  .inputAdd::placeholder {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
  }
  
  .wavesLogin {
    width: 100%;
  }