.login {
    padding-top: 10%;
    width: 100%;
    height: flex;
}


.formSignUp {
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    width: 30%;
    height: 62vh;
}   

.h4Forms {
    width: 100%;
    margin-left: 12%;
    text-align: start;
}

.inputLogin {
    width: 80%;
    height: 24%;
    text-align: center;
    font-size: 20px;
}

.inputPassword {
    width: 80%;
    height: 24%;
    border-radius: 16px;
    text-align: center;
    font-size: 20px;
}

.row4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -2%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.radioInput {
    width: 4%;
    height: 80%;
    margin-top: 4%;
    margin-left: -70%;
}

.lembreMe {
    margin-left: -145%;
}

.button2 {
    margin-top: 4%;
    margin-bottom: 2%;
    width: 15.8vw;
    height: 8vh;
    background: linear-gradient(101.05deg, #1F8EBE -5.36%, #440495 29.46%, #440495 56.03%, #B102CD 81.92%);
    border-radius: 16px;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
}

.spanCadastre {
    text-align: center;
    background: linear-gradient(91.16deg, #1F8EBE 39.35%, #440495 46.4%, #440495 54.76%, #B102CD 62.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 50%;
    font-size: 16px;
}
.row3 {
    display: flex;
    flex-direction: row;
    height: 65vh;
    margin-left: 1%;
    margin-right: 5.5%;
}

.wavesLogin {  
    width: 100%;
}